@font-face{
	font-family: 'Montserrat'; 
	font-weight: normal; 
	font-style: normal;
	src: url('.../fonts/Montserrat-Regular.otf');
	src: url('.../fonts/Montserrat-Regular.otf?#iefixed') format('otf');
	src: url('.../fonts/Montserrat-Regular.woff');
	src: url('.../fonts/Montserrat-Regular.woff?#iefixed') format('woff');
}

@font-face{
	font-family: 'Montserrat'; 
	font-weight: bold; 
	font-style: normal;
	src: url('.../fonts/Montserrat-Bold.otf');
	src: url('.../fonts/Montserrat-Bold.otf?#iefixed') format('otf');
	src: url('.../fonts/Montserrat-Bold.woff');
	src: url('.../fonts/Montserrat-Bold.woff?#iefixed') format('woff');
}


@font-face{
	font-family: 'Montserrat'; 
	font-weight: 100; 
	font-style: normal;
	src: url('.../fonts/Montserrat-ExtraLight.otf');
	src: url('.../fonts/Montserrat-ExtraLight.otf?#iefixed') format('otf');
	src: url('.../fonts/Montserrat-ExtraLight.woff');
	src: url('.../fonts/Montserrat-ExtraLight.woff?#iefixed') format('woff');
}

@font-face{
	font-family: 'Montserrat'; 
	font-weight: 200; 
	font-style: normal;
	src: url('.../fonts/Montserrat-Light.otf');
	src: url('.../fonts/Montserrat-Light.otf?#iefixed') format('otf');
	src: url('.../fonts/Montserrat-Light.woff');
	src: url('.../fonts/Montserrat-Light.woff?#iefixed') format('woff');
}
}

@font-face{
	font-family: 'Montserrat'; 
	font-weight: 300; 
	font-style: normal;
	src: url('.../fonts/Montserrat-Thin.otf');
	src: url('.../fonts/Montserrat-Thin.otf?#iefixed') format('otf');
	src: url('.../fonts/Montserrat-Thin.woff');
	src: url('.../fonts/Montserrat-Thin.woff?#iefixed') format('woff');
}
}

@font-face{
	font-family: 'Montserrat'; 
	font-weight: 500; 
	font-style: normal;
	src: url('.../fonts/Montserrat-Medium.otf');
	src: url('.../fonts/Montserrat-Medium.otf?#iefixed') format('otf');
	src: url('.../fonts/Montserrat-Medium.woff');
	src: url('.../fonts/Montserrat-Medium.woff?#iefixed') format('woff');
}

@font-face{
	font-family: 'Montserrat'; 
	font-weight: 600; 
	font-style: normal;
	src: url('.../fonts/Montserrat-SemiBold.otf');
	src: url('.../fonts/Montserrat-SemiBold.otf?#iefixed') format('otf');
	src: url('.../fonts/Montserrat-SemiBold.woff');
	src: url('.../fonts/Montserrat-SemiBold.woff?#iefixed') format('woff');
}

@font-face{
	font-family: 'Montserrat'; 
	font-weight: 800; 
	font-style: normal;
	src: url('.../fonts/Montserrat-ExtraBold.otf');
	src: url('.../fonts/Montserrat-ExtraBold.otf?#iefixed') format('otf');
	src: url('.../fonts/Montserrat-ExtraBold.woff');
	src: url('.../fonts/Montserrat-ExtraBold.woff?#iefixed') format('woff');
}

@font-face{
	font-family: 'Montserrat'; 
	font-weight: 900; 
	font-style: normal;
	src: url('.../fonts/Montserrat-Black.otf');
	src: url('.../fonts/Montserrat-Black.otf?#iefixed') format('otf');
	src: url('.../fonts/Montserrat-Black.woff');
	src: url('.../fonts/Montserrat-Black.woff?#iefixed') format('woff');
}

