/* ------------------------------------------ Notes ------------------------------------------ */
/* need to figure out grid padding */

/* ------------------------------------------ Universal ------------------------------------------ */
*, *::after, *::before { /* ensures that literally everything follows this model no matter what changes are made */
	box-sizing: border-box;
}
/* Universal End */

/* ------------------------------------------ Flexbox ------------------------------------------ */
.box {
	display: flex; /* choose flexbox */
	display: -ms-flex;
	display: -webkit-flex;
	/* display: -moz-flex;  ask andrew? */

	flex-wrap: wrap; /* wrap elements underneath when out of space */
	flex-wrap: -ms-wrap;
	flex-wrap: -webkit-wrap;

	justify-content: space-between; /* how long along the main axis should the box justify space?, if extra space, justify between elements */
	justify-content: -ms-space-between;
	justify-content: -webkit-space-between;
}

.box-item {
	/* flex: flex-grow flex-shrink flexbasis */
	flex: 0 1 auto; /* auto adjusts to content width(eg: text width), 0 adjusts to 0 (eg: word width) */
	/* not the same as the default andrew gave us: 1 1 auto; */
}

.box-left { /* differences: left justify and center align */
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;

	flex-wrap: wrap;
	flex-wrap: -ms-wrap;
	flex-wrap: -webkit-wrap;

	justify-content: left;
	justify-content: -ms-left;
	justify-content: -webkit-left;
}
.box-center-align {
	align-items: center;
	align-items: -ms-center;
	align-items: -webkit-center;
}
/* Flexbox End */

/* ------------------------------------------ Grid ------------------------------------------ */
[class*='grid-col-']{
	float:left; 
}

.grid-row::after{
	content:"";
	display:block;
	clear:both; 
}

.grid-row-full { /* change this to grid-row */
	width: 100%;
}

.grid-row { /* change the name of this */
	width: 100%;
	padding: 0 6rem;
	
/*	display: block;  trying to center the div 
	margin-left: 4rem;
	margin-right: 4rem;*/
}

.grid-col-1of2{
	width:50%;
	float:left;
	text-align: left;
}

.grid-col-2of3{
	width:66.6666%;
	float:left;
}

.grid-col-1of3{
	width:33.3333%; 
	float:left;
}

.product-image .grid-col-1of2{
	padding: 22rem 4rem 0 4rem;
/*
	padding-top: 15rem;
	padding-left: 4rem;*/
}

#company-values .grid-col-1of3:nth-child(2){
	padding: 0 1rem 0 0;
}

#company-values .grid-col-1of3:nth-child(3){
	padding: 0 1rem 0 0;
}

#order-summary .grid-col-1of3{
	padding: 0 1rem 0 0;
}

#meet-the-team .grid-col-1of2{
	padding: 0 4rem;
}

@media(max-width: 69.1775rem){
	.grid-row{
		padding:0 2rem;
	}
}

@media(max-width: 56.625rem){
	.grid-row{
		padding:0 2rem;
	}
}
/* Grid End */
