/* ------------------------------------------ Universal ------------------------------------------ */
*, *::after, *::before {
	box-sizing: border-box;
}
/* Universal End */

/* ------------------------------------------ Flexbox ------------------------------------------ */
.box {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;

	flex-wrap: wrap;
	flex-wrap: -ms-wrap;
	flex-wrap: -webkit-wrap;

	justify-content: space-between;
	justify-content: -ms-space-between;
	justify-content: -webkit-space-between;
}

.box-left {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;

	flex-wrap: wrap;
	flex-wrap: -ms-wrap;
	flex-wrap: -webkit-wrap;

	justify-content: left;
	justify-content: -ms-left;
	justify-content: -webkit-left;
}
.box-center-align {
	align-items: center;
	align-items: -ms-center;
	align-items: -webkit-center;
}

.box-item {
	flex: 0 1 auto;
}
/* Flexbox End */

/* ------------------------------------------ Grid ------------------------------------------ */
/* Rows */
.grid-row-section {
	width: 100%;

	padding-left: 5rem;
	padding-right: 5rem;
}

.grid-row {
	width: 100%;
}

.grid-row::after {
	content:"";
	display:block;
	clear:both; 
}

.grid-row-section::after {
	content:"";
	display:block;
	clear:both; 
}


@media(max-width: 69.1775rem){
	.grid-row-section {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

/* Columns */
[class*='grid-col-']{
	float:left;

	padding-left: 1rem;
	padding-right: 1rem;
}

.grid-col-1of1 {
	width: 100%;
}

.grid-col-1of2{
	width:50%;
}

.grid-col-2of3{
	width:66.6666%;
}

.grid-col-1of3{
	width:33.3333%;
}

.grid-col-1of7{
	width: 16.6666667%;
}

.grid-col-6of7{
	width:7%;
}

.product-image .grid-col-1of2{
	padding: 22rem 4rem 0 1rem;
}

@media(max-width: 64.1875rem){
	.grid-col-1of3 {
		width: 50%;
	}

	.grid-col-2of3{
		width:100%;
	}
}

@media(max-width: 44.25rem){
	.grid-col-1of3{
		width:100%;
}


@media(max-width: 46.25rem){
	.grid-col-1of2{
		width: 100%
	}
}
/* Grid End */











