/* Old Color: #3cadf3; New color: var(--secondary-light); */


/*-------------- Tags --------------*/

html {

	/* Color Variables */

	--primary-light: rgb(233,175,0); /* yellow */
	--secondary-light: rgb(107,144,255); /* baby blue */
	--primary-dark: rgb(12,37,69); /* navy blue */
	--white: white;
	--gray: rgb(238,238,238);
	--black: black;
}

a{
	padding: 0rem 3rem;
	margin-bottom: 2rem;
}
body {
	font-family: 'Montserrat', sans-serif; 
	margin: 0;
}

/* Text */

h1 {
	font-size: 2.25rem; 
	font-weight: bold; 
}

h2 {
	font-size: 1.75rem; 
	font-weight: 600;
}

h3 {
	font-size: 1.25rem; 
	font-weight: 500;
}

h4 {
	font-weight: bold; 
	font-size: 0.875rem; 
	color: var(--primary-light); 
	margin-bottom: 1.25rem;
}

p {
	font-size: 1rem;
	font-weight: 100;
}

code{
	font-size: 14px;
}

/* Lists*/

ul {
	list-style-type: none; 
	margin: 0;
	padding: 0; 
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.125rem; 
}

li a {
	display: block; 
	/*padding: 1.75rem 0 1.75rem 0;*/
	padding-top: 0.5rem; 
	text-decoration: none; 
	color: #303030;
}

/* Forms */

label {
	border-radius: 0px; 
	color: #174887;
}

input[type=text] {
	width: 100%; 
	height: 40px;
	padding-left: 20px;
	margin-top: 8px; 
	border: 1px solid #174887;
	border-radius: 4px; 
	box-sizing: border-box;
}

textarea{
	width:100%;
	padding:0.8rem;
	border: 1px solid #174887;
	margin-top: 0.5rem;
}

.review-area{
	margin-top: 2rem;
}

.banner-img{
	width:100%; 
}
/* Other */

img {
	width: 100%;
}

p.example {
	padding-right: 5rem;
}

/*-------------- Classes --------------*/

/* Home Page */

.overlay-container {
	position: relative; /* needs a relative position so .hero-image-overlay has a positioned ancestor for absolute positioning */
}

.overlay-image {
	z-index: 0;
}

.overlay {
	z-index: 1;

	position: absolute;
}

#hero-overlay {
	bottom: 15rem;
	left: 10rem;

	text-decoration: none;
	color: var(--primary-dark);
	background-color: var(--primary-light);

	padding: .25rem 2rem .25rem 2rem;
}

#hero-overlay-questions {
	max-width: 60rem;

	bottom: 5rem;
	left: 10rem;

	text-decoration: none;
	color: var(--primary-light);
	background-color: var(--primary-light);
}

.hero-select {
	width: 40%;
	height: 2.5rem;
	margin: 1rem;

	background-color: var(--white);
	border-color: var(--primary-dark);
	color: var(--primary-dark);

	border-width: 1px; /* consider having no borders to match rest of design */

	border-radius: 4px; /* consider whether border and corner measurements should be fixed or dynamic (px vs rem) and then convert */
}

.overlay-button {
	text-decoration: none;

	display: block; /* I needed to figure out how to make this button be inlign and fill the div, dont know why this worked */

	border-radius: 4px; 
  	border: none;

  	padding: 2rem;

  	/* height: 100%; this works but causes the text to not be vertically centerd */

	color: var(--primary-light);
	background-color: var(--primary-dark);
	

	text-align: center;
	justify-content: center; /* vertical alignment isnt working */
}

.overlay-button:hover {
	background-color: var(--secondary-light);
	transition: 0.5s, ease-in;
}




#about-overlay {
	bottom: 3.75rem;
	left: 5rem;

	text-decoration: none;
	color: var(--primary-dark);
	background-color: var(--primary-light);

	padding: 0rem 1rem 0rem 1rem;
}

#weather-overlay {
	bottom: 3.75rem;
	left: 5rem;

	text-decoration: none;
	color: var(--primary-dark);
	background-color: var(--primary-light);

	padding: 0rem 1rem 0rem 1rem;
}

.forecast {
}

.forecast-tile {
	max-width: 100%;
	height: 15rem;
	margin: .5rem;
	background-color: var(--primary-dark);
}




/* Shortcut Menu */

.main-section {
	font-size: 0.8rem; 
	text-decoration: underline;
}

.sub-section {
	font-size: 0.8rem; 
	font-weight: 100;
}

.main-section:hover, .sub-section:hover {
	color: var(--primary-light);;
}

/* Extra Nav */

.extra-nav {
	font-size: 0.9rem; 
	float: left;
	margin-left: 14.1875rem;
}

.extra-nav-links {
	text-decoration: none; 
	color: var(--secondary-light);
	margin-right: 2rem;
}

.extra-nav-links:hover {
	color: var(--primary-light);
}

/* Main Navigation */

/* Full Bar */
.main-nav {
}

/* Individual Buttons */
.main-nav-button {

	text-decoration: none; 
	font-size: 1.75rem;
	color: var(--primary-dark);

	background-color: var(--primary-light);

	padding: 1rem;

	text-align: center;
	justify-content: center;

	/* removed float: left */
}

.main-nav-button:hover {
	color: var(--primary-light);
	background-color: var(--primary-dark);
}



/* Text */

.in-text-link {
	font-size: 1rem; 
	color: var(--secondary-light);
}

.code-style {
	background-color: #EEE;
	padding: 15px; 
	width: 65%;
	border-left: 2px solid color: var(--secondary-light);;
	border-radius: 4px;
}

/* Lists */

.ul-style {
	list-style-type: circle; 
}

.ul-style li {
	padding: 7px 0 7px 0;
}

.ol-style li {
	padding: 7px 0 7px 0;
}

/* Buttons */

.button {		/* is exactly the same as submit-button for now */
	width: 10rem;
  	padding-top: 0.5rem; 
 	padding-bottom: 0.5rem;
  	padding-left: 1.5rem;
  	padding-right: 1.5rem;
  	background-color: #deb012; 
  	border-radius: 4px; 
  	border: none;
  	color: var(--white); 	
  	text-decoration: none; 
}

.button:hover {
	background-color: var(--secondary-light);
	transition: 0.5s, ease-in;
}

/* Forms */

.submit-button {
	width: 10rem;
  	padding-top: 0.5rem; 
 	padding-bottom: 0.5rem;
  	padding-left: 1.5rem;
  	padding-right: 1.5rem;
  	background-color: #deb012; 
  	border-radius: 4px; 
  	border: none;
  	color: var(--white); 	
  	margin-top:1rem;
  	text-decoration: none; 
}

.reset-button {
	color: #deb012;
	text-decoration: underline;
	border: none;
	background-color: var(--white);
}

.submit-button:hover {
	background-color: var(--secondary-light);
	transition: 0.5s, ease-in;
}

/* Colors */

/* remove color classes, those aren't semmantic */
/* these are both specific to the styleguide, change these to a more realistic implementation */
.colour-description {
	background-color: var(--white);
}

.heading-color {
	color: var(--primary-light);
}

/* Product */

.product-description {
	color: var(--white);
	font-style: italic;
	font-size: 12px;
}

.product p {
	color: var(--white);
	font-size: 12px;
	margin-top: 3px; 
}

.product h5 {
	font-weight: 300;
	margin-top:0;
	margin-bottom: 0; 
	color: var(--secondary-light);
}

.price {
	color: var(--white); 
}

/* Dropdown */

.styled-select {
	background: transparent;
	width: 100%;
	padding-left: 20px; 
	line-height: 1; 
	font-size: 1rem;
	border-radius: 4px; 
	height: 40px; 
	border: 1px solid #174887;
	color: #174887;
	margin-top: 2rem;
}

/* Structure */

.grid-filler {
	background-color: var(--secondary-light); 
	margin: 0 10px 0 10px;
	line-height: 50px;
	color: var(--white);
}

.align-c {
	text-align: center;
	color: var(--primary-light); 
}

.align-l {
	text-align: left;
	padding-left: 30px; 
}


/*-------------- IDs --------------*/

#jeti-title {
	font-weight: bold; 
	font-size: 3rem; 
	color: var(--primary-light);
	margin: 0;
	padding-left: 14.1875rem; 
	padding-top: 2.75rem;  
}

#banner h3 {
	font-weight: 100;
	font-size: 1.3125rem;
	color: var(--white); 
	margin-top: -0.5rem; 
	padding-left: 25.013125rem;
}

#banner {
	background-color: var(--primary-dark);
	width: 100%;
	/*margin-left: 450px;*/
	height: 11.3824375rem;
}

#fname {
	margin-bottom: 15px;
}

#typography, #heading, #lists, #input-field, #dropdown, #buttons, #colours, #main-nav, #product-listing, 
#grid-structure {
	border-bottom: 1px dotted color: var(--secondary-light);; 
	padding-bottom: 25px; 
}


#colours {
	padding-bottom: 60px;
}

#home {
	text-decoration: none;
}

.frame{
	padding: 0 2rem 0 2rem;
}

.products{
	padding:2rem;
	background-color: var(--gray);
}

.jetski-img
{
	width:100%;
	min-width: 200px;
}

#reviews h2{
	margin-bottom: 2rem;
	text-decoration: underline;
}

#submit-review h2{
	margin-bottom: 2rem;
	text-decoration: underline;
}

#reviews a{
	padding:0;
	text-decoration: none; 
}

article{
	margin-bottom: 4rem;
}

.persona{
	font-weight: 100; 
	color: #bbbbbb;
	/*font-size: 14rem;*/
}

#submit-review .submit-button{
	margin-left:2rem;
	width:25%;
}

#submit-review{
	margin-bottom: 3rem;
}