/* ------------------------------------------ Notes ------------------------------------------ */
/* 1rem = 16pt font */
/* we need to level out some of the beach images */

/* ------------------------------------------ New Website ------------------------------------------ */

/* Color Variables */
html {
	--white: white;
	--yellow: rgb(242, 187, 5);
	--blue: rgb(31, 186, 214);
	--dark-blue: rgb(11, 9, 27);
	--dark-gray: rgb(56, 56, 56);
	--light-gray: rgb(187, 187, 187);
	--transparent: rgba(0, 0, 0, 0);
}

/* Text */
h1 {
	font-size: 3.75rem; /* 60pt */

	margin: 40vh 0 5rem 0;

	color: var(--white);
}

h2 {
	font-size: 2.25rem; /* 36pt */

	color: var(--blue);
}

h3 {
	font-size: 1.625rem; /* 26pt */
}

h4 {
	font-size: 1.125rem; /* 18pt */
}

h5 {
	font-size: 0.875rem; /* 14pt */
}

h6 {
	font-size: 0.75rem; /* 12 pt */
}

p {
	font-size: 1rem; /* 14pt */
	line-height: 180%; 
	font-weight: 100;
	color: var(--dark-gray);
	/*color: var(--white);*/
}

a {
	text-decoration: none;
	color: var(--blue);
	/*font-size: 1.125rem;*/ /* 18pt */
}
/* Universal End */

/* ------------------------------------------ Header ------------------------------------------ */
.menu {
	padding: 2rem 0;
}

.menu-logo {
	background-image: url("../img/logo.png"); 

	background-attachment: scroll; /* change to "fixed" if a scrolling effect is wanted */
    background-position: top; /* controls which edge the picture snaps to */
    background-size: contain; /* "contain" will fit the image but leave white space, "cover" will fit the container but cut off the image, size can also be manually set */
    background-repeat: no-repeat;

    width: 10rem;
	height: 4rem;

	float: left;
}

.menu-buttons {
	width: 20rem;

	float: right;
}

/* Product Detail Begin */ 

.page-banner{
	background-image: url("../img/home-panorama.jpg"); 

	background-attachment: scroll; /* change to "fixed" if a scrolling effect is wanted */
    background-position: top; /* controls which edge the picture snaps to */
    background-size: cover; /* "contain" will fit the image but leave white space, "cover" will fit the container but cut off the image, size can also be manually set */
    background-repeat: no-repeat;
    height: 20rem;
}

.page-banner h1{
	font-size: 5rem;
	text-align: center; 
	margin-top: 2rem;
	margin-bottom: 0;
}

.page-banner img{
	width: 100%;
}

.page-banner h2{
	font-size: 1.1rem;
	color: var(--blue);
	text-align: center; 
	margin-top: 0;
	font-weight: 100;
}

@media(max-width: 24.2rem){
	.menu-buttons {
		max-width: 30%;
		display: inline;
	}
}

/* Header End */


/* ------------------------------------------ Footer ------------------------------------------ */
.icon-box p {
	color: var(--white);
	padding-left: 1rem;
}

.foot-banner p {
	color: var(--white);
}

.foot-banner h4 {
	color: var(--blue);
}

.yellow {
	color: var(--yellow);
}

.foot-banner {
	margin-top: 1rem;

	background-image: url("../img/ripples.jpg");  /* eventually switch this to an child id of .head-banner */
	/* display: block; dont know what this was for */

    background-attachment: scroll; /* change to "fixed" if a scrolling effect is wanted */
    background-position: center; /* controls which edge the picture snaps to */
    background-size: cover; /* "contain" will fit the image but leave white space, "cover" will fit the container but cut off the image, size can also be manually set */
    background-repeat: no-repeat;
}

.icon {
	width: 2.5rem;
	height: 2.5rem;

	margin-right: 1rem;

	background-attachment: scroll; 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}

.facebook {
	background-image: url("../img/facebook-icon.png"); 
}

.twitter {
	background-image: url("../img/twitter-icon.png"); 
}

.instagram {
	background-image: url("../img/instagram-icon.png"); 
}

.footer-telephone-2 {
	visibility: hidden;
	height: 0;
	margin: 0;
	padding: 0;
}

/*
.footer-form ::-webkit-input-placeholder{
	color: var(--white);
	font-weight: 100; 
}

::-moz-placeholder { /* Firefox 19+ 
  color: var(--blue);
	font-weight: 100; 
}

:-ms-input-placeholder { /* IE 10+ 
  color: var(--blue);
	
	font-weight: 100; 
}
:-moz-placeholder { /* Firefox 18- 
  color: var(--blue);
	font-weight: 100; 
}
*/
.foot-banner input {
	width: 100%;

	padding: 1rem;
	margin: 1rem 0rem 1rem 0;

	color: var(--black); /* this is broken */
	background-color: var(--white);
	border-color: var(--blue);

	border-width: 2px;

}

@media(max-width: 46.875rem){
	.footer-telephone-1 {
		visibility: hidden;
		height: 0;
		margin: 0;
		padding: 0;
	}

	.footer-telephone-2 {
		visibility: visible;
		height: initial;
		margin: initial;
		padding: initial;
	}
}
/* Footer End */

/* ------------------------------------------ Page Specific ------------------------------------------ */
/* ------------------------------------------ Home ------------------------------------------ */
/* Header */
header a{
	color: white;
}

/* Removes the arrow from the selection boxes */
select {
	-moz-appearance: none;
	-webkit-appearance:none;
}

select::-ms-expand {
	display: none;
}

.head-banner { /* gap at the top comes from the h1 margin padding, dont worry about this until h1 is placed */
	min-height: 100vh; /* ensures that the banner is the only thing on screen when scrolled to the top */

	background-image: url("../img/jet-ski-banner.jpg");  /* eventually switch this to an child id of .head-banner */
	/* display: block; dont know what this was for */

    background-attachment: scroll; /* change to "fixed" if a scrolling effect is wanted */
    background-position: center; /* controls which edge the picture snaps to */
    background-size: cover; /* "contain" will fit the image but leave white space, "cover" will fit the container but cut off the image, size can also be manually set */
    background-repeat: no-repeat;

}

.head-banner h1 {
	margin: 25vh 0 5rem 0;
}

.head-banner img { /* condesnse */
	width:20%;
}

#slogan {
	max-width: 50%;
}

@media(max-width: 46.875rem){
	#slogan {
		max-width: 100%;
	}
}

.suggestion-menu {
	justify-content: left;
	justify-content: -ms-left;
	justify-content: -webkit-left;
}

.suggestion-menu select {
	max-width: 100%;
	width: 15rem;

	padding: 1rem;
	margin: 1rem 2rem 1rem 0;

	color: var(--white);
	background-color: var(--transparent);
	border-color: var(--blue);

	border-width: 1px;
}

.suggestion-menu input {
	max-width: 100%;
	width: 15rem;

	padding: 1rem;
	margin: 1rem 0 1rem 0;

	color: var(--white);
	background-color: var(--blue);
	border-color: var(--blue);

	border-width: 2px;
}

@media(max-width: 24.2rem){
	.head-banner h1 {
		font-size: 2.5rem;
		margin: 10vh 0 2rem 0;
	}

}

#who-are-we-img {
	max-width: 100%;
	height: 20rem;
	padding: 1rem 1rem 1rem 0;
	/*
	background-image: url("../img/beach-copy.jpg");

    background-attachment: scroll; 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    */
}

.who-are-we-2 {
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

@media(max-width: 64.1875rem){
	.who-are-we-1 {
		visibility: hidden;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
	}

	.who-are-we-2 {
		visibility: visible;
		width: initial;
		height: initial;
		margin: initial;
		padding: initial;
	}
}	

.jet-ski-panel {
	margin: 1rem;
	max-width: 28%;
	justify-content: center;
	text-align: center;

	border: solid;
	border-width: 1px;
	border-color: var(--blue);
	padding: 1rem;
}

.book-button {
	padding: 1rem;
	margin: 1rem 0 1rem 0;

	color: var(--white);
	background-color: var(--blue);
	border-color: var(--blue);

	border-width: 2px;
}

@media(max-width: 64.1875rem){
	.jet-ski-panel {
		max-width: 100%;
	}
}

.jet-ski-panel h2 {
	color: var(--yellow);
}

.jet-ski-panel img {
	max-width: 100%;
}

.product-description h3{
	font-size: 0.9rem;
	color: var(--dark-gray);
}

.product-description .grid-col-1of2{
	/*margin-left: 2rem;*/
}

.more-space{
	padding-top:3rem;
}


/* Home End */

/* ------------------------------------------ Product Detail ------------------------------------------ */
.product-image{
	background-image: url("../img/spark.png"); 

	background-attachment: scroll; /* change to "fixed" if a scrolling effect is wanted */
    background-position: top; /* controls which edge the picture snaps to */
    background-size: 100%; 
    /*background-size: cover;  "contain" will fit the image but leave white space, "cover" will fit the container but cut off the image, size can also be manually set */
    background-repeat: no-repeat;
	height: 35rem;
	margin-top: 4rem;
}

.product-image img{
	width: 100%;
	margin-top: 4rem;
}

.product-image p{
	color: var(--dark-gray);
}

.product-info .grid-col-1of2{
	padding: 1.5rem;
}

.product-info p{
	color: var(--dark-gray);
}

.product-info h4{
	color: var(--dark-gray);
}

.product-info h3{
	color: var(--yellow);
	font-size: 2rem;
	margin: 0; 
}

.product-info .grid-col-1of2{
	padding: 0 2rem;
}

.space{
	border: 1px solid var(--blue);
	padding: 1.5rem;
}

.price{
	text-align: center; 
}

.price p{
	color: var(--yellow);
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.price-button{
	/*margin-top: 2rem;*/
	padding: 0.5rem 3rem;
	font-size: 2.5rem;
  	border: 1px solid var(--blue);
  	color: var(--blue); 	
  	text-decoration: none; 
}

.price-button:hover{
	background-color: var(--blue);
	color: white;
	transition: 0.2s ease-in;
}

.center{
	text-align: center;
}

.price-button a{
	color: var(--blue);
}

.submitted-reviews{
	color: var(--dark-gray);
}

.persona{
	color: var(--light-gray);
}

#reviews{
	margin-top: 4rem;
}

.blue-header{
	color: var(--blue);
}
/* Product Detail End */


/* ------------------------------------------ About ------------------------------------------ */

@media(max-width: 78.9375rem){
	.space{
		height: 38rem;
	}
}

@media(max-width: 73.75rem){
	.space{
		height: 40rem;
	}
}

@media(max-width: 68.0625rem){
	.space{
		height: 42rem;
	}
}

@media(max-width: 62.6875rem){
	.space{
		height: 44rem;
	}
}

@media(max-width: 48.75rem){
	.product-info .grid-col-1of2{
		width: 100%;
		margin-top: 2rem;
	}

	.space{
		height: 35rem;
	}
}

@media(max-width: 35.125rem){
	.space{
		height: 44rem;
	}
}

@media(max-width: 26.4375rem){
	.space{
		height: 53rem;
	}
}
/*Product Detail End */ 

/*About Begin*/ 

>>>>>>> origin/salathiel
#who-we-are{
	margin-top: 4rem;
}

#who-we-are{
	color: var(--dark-gray);
}

.values{
	border: 1px solid var(--yellow);
	padding: 1.5rem;
	height: 370px;
}

#company-values h3{
	color: var(--yellow);
	text-align: center;
	font-family: 'Againts', sans-serif;
	font-size: 5rem;
	margin: 0;
}

#company-values p{
	color: var(--dark-gray);
}

#company-values{
	margin-top: 4rem;
}

#meet-the-team{
	margin-top: 4rem;
}

#meet-the-team img{
	width: 100%;
}

#meet-the-team h3{
	font-size: 1.5rem;
	color: var(--dark-gray);
	margin: 1.5rem 0 0.5rem 0;
}

#meet-the-team h4{
	font-weight: 100;
	margin: 0;  
	font-size: 1.5rem;
	color: var(--light-gray);
}

#meet-the-team p{
	color: var(--dark-gray);
}

.feature-map{
	height:400px;
	filter:grayscale(99%);
	margin-top: 1rem;
}

.feature-map iframe{
	width: 100% !important;
	height:100% !important;
}

#contact-us .grid-col-1of3{
	padding: 0 2rem;
}

#contact-us h3{
	color: var(--dark-gray);
	font-size: 1rem;
	font-weight: bold;
}

#contact-us p{
	color: var(--dark-gray);
	font-size: 0.9rem;
	margin: 0;
}

/* About End */


@media(max-width: 64.1875rem){
	#company-values .grid-col-1of3{
		margin-top: 2rem;
	}

	#company-values .grid-col-1of3:nth-child(2){
		padding-right: 1rem;
	}

	#company-values .grid-col-1of3:nth-child(4){
		padding-right: 1rem;
	}
}

@media(max-width: 35.625rem){
	#meet-the-team .grid-col-1of2{
		padding: 0 1rem;
	}

	.grid-col-1of2{
		padding:0;
	}
}
/*About End*/ 

/*Submit Review Begin*/ 
>>>>>>> origin/salathiel

/* ------------------------------------------ Review ------------------------------------------ */
.left{
	text-align: right; 
}

.top-space{
	margin-top:2.5rem;
	padding-top: 1rem;
}

.button-top-space{
	margin-top:2.5rem;
	padding-top: 1rem;
}

#submit-review h2{
	margin: 4rem 0 2rem 0;
}

#submit-review p{
	color: var(--dark-gray);
}

.middle-space:nth-child(1){
	padding-right: 1rem;
}

.middle-space:nth-child(2){
	padding-left: 1rem ;
}

input[type=text] {
	width: 100%; 
	height: 60px;
	padding-left: 20px;
	margin-top: 8px; 
	color: var(--transparent);
	border: 1px solid var(--blue);
	box-sizing: border-box;
}

::-webkit-input-placeholder{
	color: var(--dark-blue);
	font-weight: 100; 
}

::-moz-placeholder { /* Firefox 19+ */
  color: var(--blue);
	font-weight: 100; 
}

:-ms-input-placeholder { /* IE 10+ */
  color: var(--blue);
	
	font-weight: 100; 
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--blue);
	font-weight: 100; 
}

select{
/*  -webkit-appearance: none;
  -webkit-border-radius: 0px;*/

}

.styled-select {
	background: transparent;
	width: 100%;
	padding-left: 2rem; 
	line-height: 1; 
	height: 60px; 
	border: 1px solid var(--blue);
	color: var(--dark-blue);
	font-weight: 100; 
	margin-top: 2rem;
}

#submit-review textarea{
	width:100%;
	padding:0.8rem;
	border: 1px solid var(--blue);
	margin-top: 0.5rem;
}

.review-area{
	margin-top: 2rem;
}

#submit-review .price-button{
	/*margin-top: 2rem;*/
	padding: 0.5rem 3rem;
	font-size: 2.5rem;
  	border: 1px solid var(--blue);
  	color: var(--blue); 
  	margin-top: 2rem;	
  	text-decoration: none; 
}

#submit-review .price-button:hover{
	background-color: var(--blue);
	color: white;
	transition: 0.2s ease-in;
}

@media(max-width: 46.875rem){
	#submit-review .grid-col-1of2{
		width:100%;
	}

	.middle-space:nth-child(2){
		padding-left:0;
	}

	.middle-space:nth-child(1){
		padding-right:0;
	}

	.left{
		text-align: left;
	}

	.top-space{
		margin: 0;
		padding: 0;
	}
}
/* Review End */

/* ------------------------------------------ Confirm ------------------------------------------ */
#confirm .right-align{
	text-align: right;
	color: var(--light-gray); 
}

#confirm p{
	color: var(--dark-gray);
}
/* Confirm End */
/* New Website End */


/* ------------------------------------------ Old Website ------------------------------------------ */
@media(max-width: 61.4375rem){
	.product-image .grid-col-1of2{
		width: 100%;
		padding: 0;
		margin-top: 45%;
	}

	.product-image{
		height: 100%;
	}
}

@media(max-width: 36.25rem){
	#confirm .right-align{
		text-align: left;s
	}
}


/*Confirmation End*/ 


/* Images */ /*why are the icons in as background images, that's not semantically meaningful*/

.facebook-icon {
	width: 2.5rem;
	height: 2.5rem;

	background-image: url("../img/facebook-icon.png"); 

    background-attachment: scroll; 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}

.twitter-icon {
	width: 2.5rem;
	height: 2.5rem;

	background-image: url("../img/twitter-icon.png"); 

    background-attachment: scroll; 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}

.instagram-icon {
	width: 2.5rem;
	height: 2.5rem;

	background-image: url("../img/instagram-icon.png"); 

    background-attachment: scroll; 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 44.1875rem){
	.page-banner h1{
		font-size: 4rem;
	}
}

@media(max-width: 36.125rem){
	.page-banner h1{
		font-size: 3rem;
	}
}

@media(max-width: 29.25rem){
	.page-banner h1{
		font-size: 2rem;
	}
}

/*-------------- Old --------------*/
/*-------------- Tags --------------*/

html {

	/* Color Variables */

	--primary-light: rgb(233,175,0); /* yellow */
	--secondary-light: rgb(107,144,255); /* baby blue */
	--primary-dark: rgb(12,37,69); /* navy blue */
	--white: white;
	--gray: rgb(238,238,238);
	--black: black;
}


body {
	font-family: 'Montserrat', sans-serif; 
	margin: 0;
}

/* Text */
.in-text-link {
	font-size: 1rem; 
	color: var(--secondary-light);
}

.code-style {
	background-color: #EEE;
	padding: 15px; 
	width: 65%;
	border-left: 2px solid color: var(--secondary-light);;
	border-radius: 4px;
}

/* Lists */
.ul-style {
	list-style-type: circle; 
}

.ul-style li {
	padding: 7px 0 7px 0;
}

.ol-style li {
	padding: 7px 0 7px 0;
}

/* Buttons */
.button {		/* is exactly the same as submit-button for now */
	width: 10rem;
  	padding-top: 0.5rem; 
 	padding-bottom: 0.5rem;
  	padding-left: 1.5rem;
  	padding-right: 1.5rem;
  	background-color: #deb012; 
  	border-radius: 4px; 
  	border: none;
  	color: var(--white); 	
  	text-decoration: none; 

 	margin-top: 2rem;
}

.button:hover {
	background-color: var(--secondary-light);
	transition: 0.5s, ease-in;
}

/* Forms */
.submit-button {
	width: 10rem;
  	padding-top: 0.5rem; 
 	padding-bottom: 0.5rem;
  	padding-left: 1.5rem;
  	padding-right: 1.5rem;
  	background-color: #deb012; 
  	border-radius: 4px; 
  	border: none;
  	color: var(--white); 	
  	margin-top:1rem;
  	text-decoration: none; 
}

.reset-button {
	color: #deb012;
	text-decoration: underline;
	border: none;
	background-color: var(--white);
}

.submit-button:hover {
	background-color: var(--secondary-light);
	transition: 0.5s, ease-in;
}
/* Old Website End */

