/* 1rem = 16pt font */
/* we need to level out some of the beach images */


/*-------------- New --------------*/

/* Color Variables */
html {
	--white: white;
	--yellow: rgb(242, 187, 5);
	--blue: rgb(31, 186, 214);
	--dark-blue: rgb(11, 9, 27);
	--dark-gray: rgb(56, 56, 56);
	--light-gray: rgb(187, 187, 187);
}


h1 {
	font-size: 3.75rem; /* 60pt */

	margin: 40vh 0 5rem 0;

	color: var(--white);
}

h2 {
	font-size: 2.25rem; /* 36pt */
}

h3 {
	font-size: 1.625rem; /* 26pt */
}

h4 {
	font-size: 1.125rem; /* 18pt */
}

h5 {
	font-size: 0.875rem; /* 14pt */
}

h6 {
	font-size: 0.75rem; /* 12 pt */
}

p {
	font-size: 1.125rem; /* 14pt */
	line-height: 180%
	/*color: var(--white);*/
}

a {
	text-decoration: none;
	color: var(--blue);
	/*font-size: 1.125rem;*/ /* 18pt */
}

header a{
	color: white;
}

.head-banner { /* gap at the top comes from the h1 margin padding, dont worry about this until h1 is placed */
	height: 100vh; /* ensures that the banner is the only thing on screen when scrolled to the top */

	background-image: url("../img/jet-ski-banner.jpg");  /* eventually switch this to an child id of .head-banner */
	/* display: block; dont know what this was for */

    background-attachment: scroll; /* change to "fixed" if a scrolling effect is wanted */
    background-position: center; /* controls which edge the picture snaps to */
    background-size: cover; /* "contain" will fit the image but leave white space, "cover" will fit the container but cut off the image, size can also be manually set */
    background-repeat: no-repeat;
}

.foot-banner {
	background-image: url("../img/ripples.jpg");  /* eventually switch this to an child id of .head-banner */
	/* display: block; dont know what this was for */

    background-attachment: scroll; /* change to "fixed" if a scrolling effect is wanted */
    background-position: center; /* controls which edge the picture snaps to */
    background-size: cover; /* "contain" will fit the image but leave white space, "cover" will fit the container but cut off the image, size can also be manually set */
    background-repeat: no-repeat;
}

.menu {
	padding: 2rem 0;
	
}

.menu-logo {
	float: left;
}

.menu-buttons {
	width: 20rem;

	float: right;
}

/* Product Detail Begin */ 

.page-banner{
	background-image: url("../img/home-panorama.jpg"); 

	background-attachment: scroll; /* change to "fixed" if a scrolling effect is wanted */
    background-position: top; /* controls which edge the picture snaps to */
    background-size: cover; /* "contain" will fit the image but leave white space, "cover" will fit the container but cut off the image, size can also be manually set */
    background-repeat: no-repeat;
    height: 20rem;
}

.page-banner h1{
	font-size: 5rem;
	text-align: center; 
	margin-top: 2rem;
	margin-bottom: 0;
}

.page-banner img{
	width:20%;
}

.page-banner h2{
	font-size: 1.1rem;
	color: var(--blue);
	text-align: center; 
	margin-top: 0;
	font-weight: 100;
}

.product-image{
	background-image: url("../img/spark.png"); 

	background-attachment: scroll; /* change to "fixed" if a scrolling effect is wanted */
    background-position: top; /* controls which edge the picture snaps to */
    background-size: 100%; 
    /*background-size: cover;  "contain" will fit the image but leave white space, "cover" will fit the container but cut off the image, size can also be manually set */
    background-repeat: no-repeat;
	height: 28rem;
	margin-top: 4rem;
}

.product-image img{
	width: 100%;
	margin-top: 4rem;
}

.product-image p{
	color: var(--dark-gray);
}

.product-info .grid-col-1of2{
	padding: 1.5rem;
}

.product-info p{
	color: var(--dark-gray);
}

.product-info h4{
	color: var(--dark-gray);
}

.product-info h3{
	color: var(--yellow);
	font-size: 2rem;
	margin: 0; 
}

.product-info .grid-col-1of2{
	padding: 0 2rem;
}

.space{
	border: 1px solid var(--blue);
	padding: 1.5rem;
}

.price{
	text-align: center; 
}

.price p{
	color: var(--yellow);
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.price-button{
	/*margin-top: 2rem;*/
	padding: 0.5rem 3rem;
	font-size: 2.5rem;
  	border: 1px solid var(--blue);
  	color: var(--blue); 	
  	text-decoration: none; 
}

.price-button:hover{
	background-color: var(--blue);
	color: white;
	transition: 0.2s ease-in;
}

.center{
	text-align: center;
}

.price-button a{
	color: var(--blue);
}

.submitted-reviews{
	color: var(--dark-gray);
}

.persona{
	color: var(--light-gray);
}

#reviews{
	margin-top: 4rem;
}

.blue-header{
	color: var(--blue);
}

/*Product Detail End */ 

/*About Begin*/ 

#who-we-are{
	margin-top: 4rem;
}

#who-we-are{
	color: var(--dark-gray);
}

.values{
	border: 1px solid var(--yellow);
	padding: 1.5rem;
	height: 370px;
}

#company-values h3{
	color: var(--yellow);
	text-align: center;
	font-family: 'Againts', sans-serif;
	font-size: 5rem;
	margin: 0;
}

#company-values p{
	color: var(--dark-gray);
}

#company-values{
	margin-top: 4rem;
}

#meet-the-team{
	margin-top: 4rem;
}

#meet-the-team img{
	width: 100%;
}

#meet-the-team h3{
	font-size: 1.5rem;
	color: var(--dark-gray);
	margin: 1.5rem 0 0.5rem 0;
}

#meet-the-team h4{
	font-weight: 100;
	margin: 0;  
	font-size: 1.5rem;
	color: var(--light-gray);
}

#meet-the-team p{
	color: var(--dark-gray);
}

.feature-map{
	height:400px;
	filter:grayscale(99%);
	margin-top: 1rem;
}

.feature-map iframe{
	width: 100% !important;
	height:100% !important;
}

#contact-us .grid-col-1of3{
	padding: 0 2rem;
}

#contact-us h3{
	color: var(--dark-gray);
	font-size: 1rem;
	font-weight: bold;
}

#contact-us p{
	color: var(--dark-gray);
	font-size: 0.9rem;
	margin: 0;
}
/*About End*/ 

/*Submit Review Begin*/ 

.left{
	text-align: right; 
}

.top-space{
	margin-top:2.5rem;
	padding-top: 1rem;
}

#submit-review h2{
	margin: 4rem 0 2rem 0;
}

#submit-review p{
	color: var(--dark-gray);
}

.middle-space:nth-child(1){
	padding-right: 1rem;
}

.middle-space:nth-child(2){
	padding-left: 1rem ;
}

input[type=text] {
	width: 100%; 
	height: 60px;
	padding-left: 20px;
	margin-top: 8px; 
	border: 1px solid var(--blue);
	box-sizing: border-box;
}

::-webkit-input-placeholder{
	color: var(--dark-blue);
	font-weight: 100; 
}

::-moz-placeholder { /* Firefox 19+ */
  color: var(--blue);
	font-weight: 100; 
}

:-ms-input-placeholder { /* IE 10+ */
  color: var(--blue);
	
	font-weight: 100; 
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--blue);
	font-weight: 100; 
}

select{
/*  -webkit-appearance: none;
  -webkit-border-radius: 0px;*/

}

.styled-select {
	background: transparent;
	width: 100%;
	padding-left: 2rem; 
	line-height: 1; 
	height: 60px; 
	border: 1px solid var(--blue);
	color: var(--dark-blue);
	font-weight: 100; 
	margin-top: 2rem;
}

#submit-review textarea{
	width:100%;
	padding:0.8rem;
	border: 1px solid var(--blue);
	margin-top: 0.5rem;
}

.review-area{
	margin-top: 2rem;
}

#submit-review .price-button{
	/*margin-top: 2rem;*/
	padding: 0.5rem 3rem;
	font-size: 2.5rem;
  	border: 1px solid var(--blue);
  	color: var(--blue); 
  	margin-top: 2rem;	
  	text-decoration: none; 
}

#submit-review .price-button:hover{
	background-color: var(--blue);
	color: white;
	transition: 0.2s ease-in;
}

/*Submit Review End*/ 



/* Images */ /*why are the icons in as background images, that's not semantically meaningful*/

.facebook-icon {
	width: 2.5rem;
	height: 2.5rem;

	background-image: url("../img/facebook-icon.png"); 

    background-attachment: scroll; 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}

.twitter-icon {
	width: 2.5rem;
	height: 2.5rem;

	background-image: url("../img/twitter-icon.png"); 

    background-attachment: scroll; 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}

.instagram-icon {
	width: 2.5rem;
	height: 2.5rem;

	background-image: url("../img/instagram-icon.png"); 

    background-attachment: scroll; 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}


/*-------------- Old --------------*/
/*-------------- Tags --------------*/

html {

	/* Color Variables */

	--primary-light: rgb(233,175,0); /* yellow */
	--secondary-light: rgb(107,144,255); /* baby blue */
	--primary-dark: rgb(12,37,69); /* navy blue */
	--white: white;
	--gray: rgb(238,238,238);
	--black: black;
}


body {
	font-family: 'Montserrat', sans-serif; 
	margin: 0;
}

/* Text */

h1 {
	font-size: 2.25rem; 
	font-weight: bold; 
}

h2 {
	font-size: 1.75rem; 
	font-weight: 600;
}

h3 {
	font-size: 1.25rem; 
	font-weight: 500;
}

h4 {
	font-weight: bold; 
	font-size: 0.875rem; 
	color: var(--primary-light); 
	margin-bottom: 1.25rem;
}

p {
	font-size: 1rem;
	font-weight: 100;
}

code{
	font-size: 14px;
}

/* Lists*/

ul {
	list-style-type: none; 
	margin: 0;
	padding: 0; 
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.125rem; 
}

li a {
	display: block; 
	/*padding: 1.75rem 0 1.75rem 0;*/
	padding-top: 0.5rem; 
	text-decoration: none; 
	color: #303030;
}

/* Forms */

label {
	border-radius: 0px; 
	color: #174887;
}

.banner-img{
	width:100%; 
}

/* Other */

p.example {
	padding-right: 5rem;
}

/*-------------- Classes --------------*/

/* Home Page */


.overlay-container {
	position: relative; /* needs a relative position so .hero-image-overlay has a positioned ancestor for absolute positioning */
}

.overlay-image {
	z-index: 0;
}

.overlay {
	z-index: 1;

	/*
	position: absolute;
	*/
}

@media(max-width: 670px){
	#temp {
		max-width: 25rem;
		top: 5rem;
		left: 1rem;
	}
}

#temp {
	position: absolute;
	left: 10rem;
	bottom: 5rem;
	width: 100%;
}

#hero-overlay {
	/*
	top: 37.5rem;
	left: 10rem;
	*/

	max-width: 40rem;
	margin-bottom: 1rem;

	text-decoration: none;
	color: var(--primary-dark);
	background-color: var(--primary-light);

	padding: .25rem 2rem .25rem 2rem;
}

#hero-overlay-questions {
	max-width: 70rem;

	/*
	top: 45rem;
	left: 10rem;
	*/

	text-decoration: none;
	color: var(--primary-light);
	background-color: var(--primary-light);
}

.hero-select {
	width: 40%;
	height: 2.5rem;
	margin: 1rem;

	background-color: var(--white);
	border-color: var(--primary-dark);
	color: var(--primary-dark);

	border-width: 1px; /* consider having no borders to match rest of design */

	border-radius: 4px; /* consider whether border and corner measurements should be fixed or dynamic (px vs rem) and then convert */
}

.overlay-button {
	text-decoration: none;

	display: block; /* I needed to figure out how to make this button be inlign and fill the div, dont know why this worked */

	border-radius: 4px; 
  	border: none;

  	padding: 2rem;

  	/* height: 100%; this works but causes the text to not be vertically centerd */

	color: var(--primary-light);
	background-color: var(--primary-dark);
	

	text-align: center;
	justify-content: center; /* vertical alignment isnt working */
}

.overlay-button:hover {
	background-color: var(--secondary-light);
	transition: 0.5s, ease-in;
}




#about-overlay {
	bottom: 3.75rem;
	left: 5rem;

	text-decoration: none;
	color: var(--primary-dark);
	background-color: var(--primary-light);

	padding: 0rem 1rem 0rem 1rem;
}

#weather-overlay {
	bottom: 3.75rem;
	left: 5rem;

	text-decoration: none;
	color: var(--primary-dark);
	background-color: var(--primary-light);

	padding: 0rem 1rem 0rem 1rem;
}

.forecast {
}

.forecast-tile {
	max-width: 100%;
	height: 15rem;
	margin: .5rem;
	background-color: var(--primary-dark);
}


.book-select {
	width: 60%;
	height: 5rem;
	margin: 2rem;

	background-color: var(--white);
	border-color: var(--primary-dark);
	color: var(--primary-dark);

	border-width: 1px; /* consider having no borders to match rest of design */

	border-radius: 4px; /* consider whether border and corner measurements should be fixed or dynamic (px vs rem) and then convert */

}



/* Shortcut Menu */

.main-section {
	font-size: 0.8rem; 
	text-decoration: underline;
}

.sub-section {
	font-size: 0.8rem; 
	font-weight: 100;
}

.main-section:hover, .sub-section:hover {
	color: var(--primary-light);;
}

/* Extra Nav */

.extra-nav {
	font-size: 0.9rem; 
	float: left;
	margin-left: 14.1875rem;
}

.extra-nav-links {
	text-decoration: none; 
	color: var(--secondary-light);
	margin-right: 2rem;
}

.extra-nav-links:hover {
	color: var(--primary-light);
}

/* Main Navigation */

/* Full Bar */
.main-nav {
}

/* Individual Buttons */
.main-nav-button {

	text-decoration: none; 
	font-size: 1.75rem;
	color: var(--primary-dark);

	background-color: var(--primary-light);

	padding: 1rem;

	text-align: center;
	justify-content: center;

	/* removed float: left */
}

.main-nav-button:hover {
	color: var(--primary-light);
	background-color: var(--primary-dark);
}



/* Text */

.in-text-link {
	font-size: 1rem; 
	color: var(--secondary-light);
}

.code-style {
	background-color: #EEE;
	padding: 15px; 
	width: 65%;
	border-left: 2px solid color: var(--secondary-light);;
	border-radius: 4px;
}

/* Lists */

.ul-style {
	list-style-type: circle; 
}

.ul-style li {
	padding: 7px 0 7px 0;
}

.ol-style li {
	padding: 7px 0 7px 0;
}

/* Buttons */

.button {		/* is exactly the same as submit-button for now */
	width: 10rem;
  	padding-top: 0.5rem; 
 	padding-bottom: 0.5rem;
  	padding-left: 1.5rem;
  	padding-right: 1.5rem;
  	background-color: #deb012; 
  	border-radius: 4px; 
  	border: none;
  	color: var(--white); 	
  	text-decoration: none; 

 	margin-top: 2rem;
}

.button:hover {
	background-color: var(--secondary-light);
	transition: 0.5s, ease-in;
}

/* Forms */

.submit-button {
	width: 10rem;
  	padding-top: 0.5rem; 
 	padding-bottom: 0.5rem;
  	padding-left: 1.5rem;
  	padding-right: 1.5rem;
  	background-color: #deb012; 
  	border-radius: 4px; 
  	border: none;
  	color: var(--white); 	
  	margin-top:1rem;
  	text-decoration: none; 
}

.reset-button {
	color: #deb012;
	text-decoration: underline;
	border: none;
	background-color: var(--white);
}

.submit-button:hover {
	background-color: var(--secondary-light);
	transition: 0.5s, ease-in;
}

/* Colors */

/* remove color classes, those aren't semmantic */
/* these are both specific to the styleguide, change these to a more realistic implementation */
.colour-description {
	background-color: var(--white);
}

.heading-color {
	color: var(--primary-light);
}

/* Product */

.product-description {
	color: var(--white);
	font-style: italic;
	font-size: 12px;
}

.product p {
	color: var(--white);
	font-size: 12px;
	margin-top: 3px; 
}

.product h5 {
	font-weight: 300;
	margin-top:0;
	margin-bottom: 0; 
	color: var(--secondary-light);
}

/*.price {
	color: var(--white); 
}*/


/* Structure */

.grid-filler {
	background-color: var(--secondary-light); 
	margin: 0 10px 0 10px;
	line-height: 50px;
	color: var(--white);
}

.align-c {
	text-align: center;
	color: var(--primary-light); 
}

.align-l {
	text-align: left;
	padding-left: 30px; 
}


/*-------------- IDs --------------*/

#jeti-title {
	font-weight: bold; 
	font-size: 3rem; 
	color: var(--primary-light);
	margin: 0;
	padding-left: 14.1875rem; 
	padding-top: 2.75rem;  
}

#banner h3 {
	font-weight: 100;
	font-size: 1.3125rem;
	color: var(--white); 
	margin-top: -0.5rem; 
	padding-left: 25.013125rem;
}

#banner {
	background-color: var(--primary-dark);
	width: 100%;
	/*margin-left: 450px;*/
	height: 11.3824375rem;
}

#fname {
	margin-bottom: 15px;
}

#typography, #heading, #lists, #input-field, #dropdown, #buttons, #colours, #main-nav, #product-listing, 
#grid-structure {
	border-bottom: 1px dotted color: var(--secondary-light);; 
	padding-bottom: 25px; 
}


#colours {
	padding-bottom: 60px;
}

#home {
	text-decoration: none;
}

.frame{
	padding: 0 2rem 0 2rem;
}

.products{
	padding:2rem;
	background-color: var(--gray);
}

.jetski-img
{
	width:100%;
	min-width: 200px;
}





article{
	margin-bottom: 4rem;
}

#submit-review .submit-button{
	margin-left:2rem;
	width:25%;
}

#submit-review{
	margin-bottom: 3rem;
}



.lite-jetski{
	margin: 2rem 0; 
}

.grid-col-1of2.detailed-product{
	text-align: left;
	padding-left: 0;
}

.remove-margins h2 p{
	margin:0;
}

.weight-text{
	width:50%;
	float: left;
	text-align: left;
}

.spark-in-text{
	padding:0;
}

@media(max-width: 58.5625rem){
	.owner-description{
	padding:0 2rem;
}
}

@media(max-width: 49.5625rem){
	.owner-description{
	padding:0;
}
}

@media(max-width: 46.25rem){

	.grid-col-1of2.detailed-product{
		padding-left: 0rem;
		margin-left:2rem;
	}

	.weight-text{
		padding-left: 0rem;
	}

}
